%html
  %body
    %h3 Select File
    %form(method="post" enctype='multipart/form-data')
      %input(type='file' name='myfile')
      %br
      %h3 Upload CHANGESET
      %input(type='submit' value='Upload' name='upload')
